body
{
	background-color: #181a1f; 
	color: #fefefe;
}

/* Navbar background */
.navbar.custom-navbar 
{
	border-bottom: 1px solid #2f343f;
}

/* Navbar link styles */
.navbar.custom-navbar .nav-link 
{
	text-decoration: none; 
}

/* Hover/focus/active link decoration */
.navbar.custom-navbar .nav-link:hover,
.navbar.custom-navbar .nav-link:focus,
.navbar.custom-navbar .nav-link.active 
{
	background-color: #2f343f;
	padding: 2px;
	color: #00b0ff;
	font-weight: bold;
	text-underline-offset: 4px;
	text-decoration-thickness: 2px;
}
